@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.display {
    font-size: 6rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 200px;
}

.cell {
    width: 200px;
    height: 200px;
    background-color: black;
    border: 1px solid red;
    font-size: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}